* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.map-info {
    margin-top: 80px; /* Відступ зверху для основного контенту */
    padding: 20px;
    display: flex;
    /* Розміщуємо елементи в рядок */
    align-items: flex-start; /* Вирівнюємо елементи по верху */
    justify-content: flex-start; /* Розміщуємо елементи зліва направо */
    width: 100%; /* Займає всю ширину контейнера */
    gap: 20px; /* Відступ між блоками */
}

.image-container {
    position: relative;
    display: flex;
    flex: 1; /* Задаємо ширину зображення відносно іншого контенту */
    max-width: 50%; /* Обмежуємо максимальну ширину контейнера зображення до 50% */
    text-align: center; /* Центруємо текст підпису */

}
figcaption {
    position: absolute;
    bottom: -29px;
}
.info-about {
    flex: 1;
    display: block;
    max-width: 50%;
     /* Задаємо ширину блоку з інформацією */
}

.image-container img {
    width: 100%; /* Зображення займає всю ширину контейнера */
    height: auto; /* Автоматичне коригування висоти */
    object-fit: cover; /* Зображення без спотворень */
    /*display: block;*/
    visibility: visible;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
path{
    position: absolute;
    opacity: 0.2;
    fill: blue;
    cursor: pointer;
    transition: 0.7s;
}

rect{
    z-index: -1;

}

rect {
    fill: whitesmoke; /* Колір заливки */
    fill-opacity: 95%; /* Прозорість */ /* Зробити кути закругленими, якщо потрібно */
}
.tooltip-text, rect {
    display: none; /* Спочатку приховуємо текст */
    pointer-events: none;
}
.tooltip:hover path {
    opacity: 0.7; /* Зміна прозорості картинки при наведенні */
}

.tooltip:hover .tooltip-text {
    display: block;
    opacity: 1; /* Текст буде плавно з'являтися */
}

.tooltip:hover rect {
    display: block;
    opacity: 0.5; /* Прямокутник з'явиться при наведенні на шлях */
}

.tooltip-text:hover {
    opacity: 1; /* Текст залишається видимим при наведенні */
}

@media  screen and (max-width: 1200px) {
    .map-info {
        flex-direction: column;
        align-items: center;
    }
    .info-about {
        padding-top: 1%;
        max-width: 90%;
    }

    .image-container {
        max-width: 90%;
    }
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    display: flex;
    box-shadow: 0 2px 5px 0 #b490ca ;
    background: #8294C4;
    justify-content: space-between;
    align-items: center;
    padding: 2rem ;
    border-radius: 0.2rem;
    z-index: 10;
}

header .logo {
    font-size: 2.2rem;
    color: black;
    font-weight: 800;
}

header .navbar ul {
    display: flex;
    gap: 1.5rem;
}

header .navbar ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    position: relative;
}

header .navbar ul li a:hover {
    background-position: center;
    background-size: 10px, 2px,2px, 10px;
    color: #DBDFEA;
}

header .navbar ul li a span:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #DBDFEA;
    border-left: 2px solid #DBDFEA;
    transition: .2s;
    opacity: 0;
}

header .navbar ul li a span:first-child:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #DBDFEA;
    border-right: 2px solid #DBDFEA;
    transition: .2s;
    opacity: 0;
}

header .navbar ul li a span:last-child:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #DBDFEA;
    border-left: 2px solid #DBDFEA;
    transition: .2s;
    opacity: 0;
}

header .navbar ul li a span:last-child:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #DBDFEA;
    border-right: 2px solid #DBDFEA;
    transition: .2s;
    opacity: 0;
}

#menu {
    display: none;
}

label {
    font-size: 2rem;
    border: .2rem solid #222;
    padding: 0.5rem;
    border-radius: 0.5rem;
    line-height: 1rem;
    text-align: center;
    cursor: pointer;
    display: none;
}

header .navbar ul li a:hover span:first-child:before {
    top: -10px;
    left: -10px;
    opacity: 1;
}

header .navbar ul li a:hover span:first-child:after {
    top: -10px;
    right: -10px;
    opacity: 1;
}

header .navbar ul li a:hover span:last-child:before {
    bottom: -10px;
    left: -10px;
    opacity: 1;
}

header .navbar ul li a:hover span:last-child:after {
    bottom: -10px;
    right: -10px;
    opacity: 1;
}

@media  screen and (max-width: 1000px) {
    header .navbar {
        position: absolute;
        top: 100%;
        left: 70%;
        right: 5%;
        display: none;
    }

    header .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem 0;
        background-color: rgba(130, 148, 196, 0.4); /* 0.8 - прозорість */
        backdrop-filter: blur(18px);
        border-radius: 2rem;
    }


    label {
        display: block;
    }

    #menu:checked ~ .navbar {
        display: block;

    }

    label .close-icon {
        display: none;
    }

    #menu:checked ~ label .menu-icon {
        display: none;
    }

    #menu:checked ~ label .close-icon {
        display: block;
    }
}
